<div class="container">
    <hr />
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4">
                <h5><b>Site Haritası</b></h5>
                <hr />
                <p>

                    <span class="glyphicon glyphicon-info-sign"></span><a href="/Home/About"> Hakkımızda</a><br />
                    <span class="glyphicon glyphicon-star"></span><a href="/Home/Begenilenler"> Begenilenler</a><br />
                    <a href=""> Yönetim</a><br />
                    <span class="glyphicon glyphicon-list"></span><a href="/Home/Index"> Son Yazılanlar</a>
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5><b>Makale Web Projesi</b></h5>
                <hr />
                <p> @DateTime.Now.Year <br /> Tüm hakları saklıdır.. &copy;</p>
            </div>

            <div class="col-lg-4 text-center">
                <h5><b>E-Bülten Üyeliği</b></h5>
                <hr />


                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-posta adresiniz:">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Gönder</button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </footer>


</div>

